<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documents</title>
</head>
<body>

   
    <div>
    <% if(cookie.user_id){ %>
       <span> Hello </span>  
       <span> <%= users[urls.userID].email %> </span> 
    <form method="POST" action="/logout" style="display: inline">
        <input type="submit" value="Logout">
    </form>

    <% } else { %>
        <a href="/register"> Register </a>
        <a href="/login"> Login </a>
    
   <% } %>

</div>