<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div>
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <a href="/register"> Register </a>
                <a href="/login"> Login </a>
            </nav>
        </div>

    <h2> <%= status.logInStatus %> </h2>

</body>
</html>