<% include ./partials/_header %>

<h2>Show Page</h2>
    
         <h3>Short URL: <%= shortURL %> </h3>
         
         <form method="POST" action="/urls/<%= shortURL %>">
            <input type="text" id="longURL" name="longURL" value=" <%= longURL %> ">
            <input type="submit" value="Update">
          </form>
</body>
</html>