<% include ./partials/_header %>

<h2>Show Page</h2>
    
    
          <form method="POST" action="/urls/<%= shortURL %>">
           <div>
            <a href="/urls/<%= shortURL %>"> <%= shortURL %> </a>
           </div> 
            <input type="text" id="longURL" name="longURL" value=" <%= longURL %> ">
            <input type="submit" value="Update">
          </form>
          <div><a href="/urls"> Back to Index Page </a></div>
    
</body>
</html>